# ================================
# Django .gitignore
# ================================

# Базы данных
*.sqlite3
*.db

# Виртуальное окружение
venv/
.env

# Питон кэш
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# Статика и медиа
/staticfiles/
/media/

# Логи
*.log

# Окружение
.env.local
.env.prod

# Системные файлы
.DS_Store
Thumbs.db

# ================================
# Конец .gitignore
# ================================